---
layout: page
title: Blog
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}
    <article class="sample">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a>
      <span class="time-to-read">
        
        {% if post.content | number_of_words | divided_by: 230 == 0 %}
          {{'< 1min read'}}
        {% else %}
          {{ post.content | number_of_words | divided_by: 230 | append: ' min read' }}
</span></h1>


      <div class="subtext">
      	<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
        	{{ post.content | truncatewords:40}}
        </a>
      </div>

    </article>
  {% endfor %}
</div>
